@model Category 
@{
    ViewData["Title"] = "Edit Category";
}

<form method="post">
    <div class="border p-5">
        <div class="row pb-2">
            <h2 class="text-primary p-0">
                Edit Category
            </h2>
            <hr/>
        </div >
        <div asp-validation-summary="All"></div>
        <div class="mb-3 row">
            <label asp-for="Name" class="p-0"></label>
            <input asp-for='Name' type="text" class="from-control">
            <span asp-validation-for="Name" class="text-danger p-0"></span>
        </div>

        <div class="row p-0">
            <div class="col-6 col-md-3 p-0">
                <button type="submit" class="btn btn-primary form-control">Submit</button>
            </div>
            <div class="col-6 col-md-3">
                <a asp-controller="Category" asp-action="Index" class="btn btn-outline-secondary border form-control">
                     Back to the list
                </a>
            </div>
            
            
               
            </a>
        </div>
    </div>
</form>

@section Scripts{
    @{
        <partial name="_ValidationScriptsPartial"/>
    }
}